/* Fonts--remove unused at end */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Mobile Nav */
/* HAMBURGER MENU */
#desktop-nav {
  display: none;
}

#hamburger-nav {
  display: flex;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;}

  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #F9f9FF;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #121212;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
  }

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  display: inline-block;
  }

.logo {
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 1.5rem;
  }

  
.logo:hover {
    cursor: default;
  }
/* Desktop Nav */
  /* Desktop Nav */
.desk-nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
nav {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
  }
.nav-links {
   display: flex;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  a{
    color: #000000;
    text-decoration: none;
    /* text-decoration-color: #F9f9FF; */
  }

  a:hover {
    color: #5e3ABB;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #5e3ABB;
    
  }
/* End of NAV */

/* General */
* {
    margin: 0;
    padding: 0;
  }
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F9f9FF;
  }

html {
  scroll-behavior: smooth;
  /* remove with media query for motion */
}

p {
  color: #121212
}

/* Transitions--figure out how to deactivate for movement querey */

a, .btn {
  color: #121212;
  transition: all 0.3s ease;
}



/*---------- Buttons ----------- */
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  margin: .5rem;}

.btn-1
{border: #000000 0.1rem solid;
color:#F9f9FF;
background-color: #121212;}

.btn-1:hover{background-color: #F9f9FF;
  color:#000000;
cursor: pointer;}

.btn-2
{border: #000000 0.1rem solid;
color:#F9f9FF;
background-color: #353535;}

.btn-2:hover
{background-color: #121212;
  color:#F9f9FF;
cursor: pointer;}

.btn-3{background-color: #5e3ABB;
  color:#F9f9FF;
cursor: pointer;
border: #5e3ABB .1rem solid;}

.btn-3:hover {
  background-color: #F9f9FF;
  color:#5e3ABB;
  border: #5e3ABB .1rem solid;
}

/* Icons */
.icon {
  cursor: pointer;
  height: 2rem;
  width: auto;
  margin: 0;
}

/* Sections */
/* Profile */

 

img {
    margin: 0;
    padding: 0;
  }

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: block;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  height: 83vh;
  /* margin-bottom: 6rem */
  margin-bottom: 0;
  
}

.section__pic-container {
  display: flex;
  /* flex-wrap: wrap; */ 
  height: 55vh;
  width: auto;
  justify-content: center;
  margin: auto 0;
}

/* .break {
  flex-basis: 100%;
  height: 0;
  width: 100%
} */


.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 1.1rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}


/* Put into correct positions */


  /* #contact,
  footer {
    height: 40vh;
  }

  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }

  /* .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  } */
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}


/* Tablet Layout */
@media screen and(min-width: 600px) {

}
  
/* Desktop Layout */
  
@media  screen and (min-width: 1000px) 

/* #profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
} */
{
  #hamburger-nav {
    display: none;
  }
  #desktop-nav {
    display: flex;
  }

  /* chagnes to Profile layout */
  .section__pic-container{ 
    height: 400px
    width: 400px;
    display: flex;
    margin: 0px auto 2rem;
  }
  
  #profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }

  img{
   width: auto; 
   margin: 0;
   
  }
  /* also resize font for name, hello, etc.--it's okay for 1100, but bad for 1400, i think just style texts */
}